/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
	font-size: 13px;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.grid {
  height: 300px;
  width: 260px;
	display : grid;
  grid-template-rows: 1fr .5fr 200px 1fr;
	margin: 4em auto;

}

.a{ /*needs drop down arrow*/
  background-color: #424242;
  color: white;
  border-radius: 3px;
	text-align: center;
	padding-top: 1em;
}


.b{
  background-color: #EF5F3C;
  border-radius: 5px;
  border: 2px #eaeaea solid;

}

.c{
	color: #777;
	border: 2px #eaeaea solid; /*need shadow bottom*/
	padding: 1em;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}

.d {
	margin-top: 1em;
}
.button{
    border: 2px #eaeaea solid;
    color: #424242;
    padding: 1em 1em;
    text-align: center;
		border-radius: 5px;
		background-color: inherit; /*turns dark grey*/
		width: 45%;
}

.button1 {
	text-align: left;
	font-size: 15px;
	margin-right: 5px;
}

.button2{
	background-color: #1CBC2C;
	color: white;
	margin: 10px 0px;
	font-size: 15px;
	margin-left: 5px;
}

.button3 {
	margin-right: 5px;
	background-color: #f2f2f2;
}

.button4 {
	margin-left: 5px;
	background-color: #f2f2f2;
}
.flex-container{
	display: flex;
	flex-direction: column;
	margin: 2em auto;
	max-width: 260px;
  text-align: center;
}

.need {
	background-color: #424242;
  color: white;
  border-radius: 3px;
	text-align: center;
	padding: 1em;
}

.bar {
	background-color: #EF5F3C;
	border-radius: 5px;
	border: 2px #eaeaea solid;
	margin-top: 1em;
	color: #EF5F3C;
}

.info {
	color: #777;
	border: 2px #eaeaea solid; /*need shadow bottom*/
	padding: 1em;
	text-align: left;
	font-weight: 100;
}

.blue {
	color: #20A1D4;
}

.orange {
	color: #EF5F3C;
	font-weight: bold;
}
